/* src/pages/Home.css */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
  

/* In your styles file */
.truncated-cell {
    max-width: 150px; /* Adjust the width based on your design */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  